<div class="button-demo">
    <h3>按钮组件Demo</h3>
</div>
<ng-button (click)="defaultClick()">测试默认</ng-button>
<ng-button class="primary">测试primary</ng-button>

<div class="select-demo">
    <h3>select组件Demo</h3>
</div>
<div class="box">
    <p class="desc">浏览器自带的输入框</p>
    <select>
        <option *ngFor="let opt of testChoices2">{{opt}}</option>
    </select>
</div>
<div class="box">
    <p class="desc">【普通下拉框，可以传入数组作为dataSrc】</p>
    <ng-select [dataSrc]="testChoices2"></ng-select>
</div>
<div class="box">
    <p class="desc">【设置宽度，并设置最长选项长度，选项框不自动隐藏】</p>
    <ng-select defaultTxt="请选择" [dataSrc]="testChoices1" [autoHide]="false" maxWordCnt="5" width="120" (change)="optChanged($event)"></ng-select>
</div>
<div class="box">
    <p class="desc">【使用[(ngModel)]做双向绑定】</p>
    <p class="desc">（10秒后自动修改绑定的属性，设置选项为第2个）</p>
    <ng-select [dataSrc]="testChoices3" [(ngModel)]="selected"></ng-select>
    <p class="desc">选中的数据：{{selected}}</p>
</div>

<div class="pager-demo">
    <h3>分页组件Demo</h3>
</div>
<div class="pager-container">
    <div class="tab-wrap">
        <table class="people-list" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>昵称</th>
                    <th>年龄</th>
                    <th>头像</th>
                    <th>电话</th>
                    <th>好友</th>
                    <th>签名</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataList">
                    <td>{{item.id}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.nickname}}</td>
                    <td>{{item.age}}</td>
                    <td>
                        <img class="avatar" [src]="item.avatar" [alt]="item.username">
                    </td>
                    <td>{{item.tel}}</td>
                    <td>{{item.friends}}</td>
                    <td>{{item.face}}</td>
                </tr>
            </tbody>
        </table>
        <div class="empty-wrap" *ngIf="!dataList || dataList.length === 0">
            数据加载中...
        </div>
        <div class="loading" *ngIf="showLoading && dataList">
            <p class="desc">数据加载中...</p>
        </div>
    </div>
    <div class="pager-wrap">
        <ng-pager [page]="page" (listChange)="pageChanged($event)"></ng-pager>
    </div>
</div>