
$tabItemHeight: 26px;
table {
    text-align: center;
    th {
        word-break: keep-all;
        color: #999;
    }
    td, th {
        border-bottom: 1px solid #ccc;
        padding: 10px;
        height: $tabItemHeight;
        line-height: $tabItemHeight;
        margin: 0;
    }
}
.pager-container {
    width: 1000px;
    margin: 20px auto 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    .tab-wrap {
        position: relative;
        .loading {
            position: absolute;
            top: #{$tabItemHeight + 20};
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, .8);
            .desc {
                color: #fff;
                text-align: center;
                position: absolute;
                width: 100%;
                top: 50%;
                margin: 0;
            }
        }
    }
    .pager-wrap {
        padding: 0 10px;
        ng-pager {
            margin: 12px;
        }
    }
}
.people-list {
    width: 1000px;
    .avatar {
        $avatarRadius: #{$tabItemHeight + 10};
        width: $avatarRadius;
        height: $avatarRadius;
        border-radius: $avatarRadius;
        vertical-align: middle;
    }
}
.empty-wrap {
    text-align: center;
    color: #999;
    font-size: 14px;
    margin: 10px;
}