<div class="ng-select" (click)="stopBubble($event)">
    <ng-button (click)="toggleOpts($event)"
        [class.disabled.px]="disabled"
        [minWidth]="width"
        [height]="height"
        (mouseenter)="enterButton()"
        (mouseleave)="hideOpts()">
        <span class="txt">{{displayName}}</span>
        <i class="iconfont icon-{{toShowOpts?'up':'down'}}"></i>
    </ng-button>
    <div class="choices" [hidden]="!toShowOpts"
        (mouseleave)="hideOpts()" (mouseenter)="enterButton()">
        <ul class="items" [style.min-height.px]="popHeight"
            [style.min-width.px]="width">
            <li class="item" *ngFor="let opt of dataSrc"
                [class.active]="selected===opt.value"
                (click)="chooseItem(opt)"
                [style.color]="opt.color">{{opt.name}}</li>
        </ul>
    </div>
</div>